.App {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  
}

.App__container {
  display: grid;
  justify-items: center;
  grid-template-rows: 2fr 2fr 1fr auto;
  /* align-items: baseline; */
  background-position: center;
  background-size: cover;
}

.App__container>h1 {
  color: azure;
  font-size: 80px;
  display: flex;
  align-self: end;
  margin-bottom: 30px;
}
.App.bg1 {
  background:  url('/planetas/planeta1.png'), url('/espacio/bg1.jpg');
  background-repeat: no-repeat;
  background-size: 30%, cover;
  background-position: bottom, center;
}

.App.bg2 {
  background-image: url('/planetas/planeta4.png'), url('/espacio/bg2.jpg');
  background-repeat: no-repeat;
  background-size: 40%, cover;
  background-position: bottom, center;
}

.App.bg3 {
  background-image: url('/planetas/planeta3.png'), url('/espacio/bg3.jpg');
  background-repeat: no-repeat;
  background-size: 40%, cover;
  background-position: bottom, center;
}

.App.bg4 {
  background-image: url('/planetas/planeta2.png'), url('/espacio/bg4.jpg');
  background-repeat: no-repeat;
  background-size: 40%, cover;
  background-position: bottom, center;
}

@media (max-width: 600px) {
  .App__container {
    grid-template-rows: 1fr 2fr 1fr 50px;

  }
  .App__container>h1 {
    font-size: 40px;
    margin-bottom: 50px;
    align-self: end;
  }
  
}


